@import url('https://fonts.googleapis.com/css?family=Roboto:700');

* {
    margin: 8px;
    padding: 0px;
    box-sizing: 0px;
}

nav {
    display: flex;
    /* justify-content: space-around;
    align-items: center; */
    min-height: 8vh;
    font-family: 'Poppins', sans-serif;
    background-color:white;
}

html {
    background-color: rgb(254, 227, 234);
}
body {
    background-color: rgb(254, 227, 234);
    /* width: 750px;
    margin: 0 auto; */
}
.logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-items: flex-start;
    color: black;
    letter-spacing: 0px;
    font-size: 15px;
}
.logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-items: flex-start;
    color: black;
    letter-spacing: 0px;
    font-size: 15px;
}

.site-header{
    display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: flex-start;
	align-content: stretch;
}
.site-header-words{
    /* display: flex;
    align-items: flex-start; */
    font-size: 10px; 
    font-weight: bold;
}

.nav-links {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 55%;
}
.nav-links li {
    list-style: none;
}
.nav-links a{
    color: rgb(230, 130, 230);
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: bold;
    font-size: 13px;
}

.nav-wrapper {
    display: flex;
    align-items: center;
}

.button {
    /* border-top: 1px solid #d81919; */
    background: #ff0063;
    padding: 10.5px 30px;
    border-radius: 21px;
    color: #ffffff;
    font-size: 12px;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    vertical-align: middle;
    transition-property: left, background-color;
    transition-duration: .4s, .4s;
    transition-timing-function: ease, ease-out;
    }
 .button:hover {
    border-color: #ff0063;
    background: #ffffff;
    color: #ff0063;
    }
 .button:active {
    border-top-color: #ffffff;
    background: #ffffff;
    
    }

    .main-body {

    }

/* .logo {
    display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: flex-start;
	align-content: stretch;
} */
/* .site-header {
    display: flex;
    flex-direction: column;
    justify-content: center;

} */